.bookings-index-flex-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.bookings-index-container {
    width: 76%;
    display: flex;
    align-self: center;
    gap: 3%;
    flex-wrap: wrap;
}

.trips-h3-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 76%;
    align-self: center;
    border-bottom: 1px solid lightgray;
}

.trips-h3 {
    font-size: 33px;
    font-weight: 700;
    color: rgb(44, 44, 44);
}

.booking-container {
    width: 31%;
    color: black;
    display: flex;
    flex-direction: column;
}

.booking-listing-index-photo {
    width: 100%;
    height: 180px;
    /* overflow-y: hidden; */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.booking-index-info-container {
    margin-top: 20px;
    width: 90%;
    align-self: center;
}

.booking-index-dates {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.booking-index-location-container {
    margin-top: 7px;
}

.booking-index-location {
    font-size: 25px;
    font-weight: 500;
}

.booking-index-listing-info-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

.booking-index-listing-title-container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-content: center;
    width: 100%;
}


.booking-index-listing-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.booking-index-listing-title {
    font-size: 18px;
    font-weight: 500;
    color: rgb(73, 73, 73);
}

.booking-index-listing-title-arrow-container {
    display: flex;
    align-items: center;
}

.more-trip-plans-container {
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: 600;
    font-size: 15px;
}

.more-trip-plans-container:hover {
    box-shadow: 0px 4px 0px 0px rgba(201, 201, 201, 0.64);
}