.bdd {
  z-index: 10;
  position: relative;
}

.header-cushion {
  width: 100%;
  height: 70px;
}

.header-container-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  transition: .5s;
}

.on-scroll {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  transition: .5s;
    /* background-color: rgba(214, 30, 76, 0.39); */
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  padding-bottom: 20px;
}



.logo {
  margin-top: 15px;
  width: 326px;
  height: 44px;
  background-color: "red";
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}

.logo-link {
  width: 326px;
  height: 44px;
}

.listings-search-container {
  display: flex;
  align-items: center;
  margin-top: 1%;
  /* padding: 0.5% 6% 0.5% 6%; */
  border-radius: 30px;
  transform: translateX(-29%);
  /* margin-right: 10%; */
}

.listings-search {
  /* height: 100%; */
  padding: 5px 20px 8px 20px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid rgb(167, 167, 167);
}

.search-input-container {
  display: flex;
  align-items: center;
  
}

.search-input {
  border: none;
  font-size: 15px;
  color: rgb(0, 0, 0);
  background: none;
  height: 30px;
}

.search-input:focus {
  outline: none;
}

.search-listings-button {
  margin-top: 2px;
  border-radius: 50%;
  border: none;
  border: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  background: rgb(255, 0, 76);
}

.search-icon {
  color: white;
  /* padding-left: 40px; */
}

.menu-container {
  position: relative;
  display: inline-block;
  margin-right: 3.5%;
}

.menu-button {
  margin-top: 8%;
  width: 75px;
  height: 42px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
  border-radius: 50px;
  background: white;
  padding-top: 5px;
  border: 1px solid lightgray;
}

.dropdown {
  margin-top: 2%;
  position: absolute;
  top: 95%;
  right: 12%;
  width: 150px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background: white;
  border-radius: 15px;
}

.logout-ul,
.login-signup-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-li,
.account-link {
  padding: 8px 12px;
  border-radius: 10px;
}

.account-link {
  color: rgb(0, 0, 0);
  display: block;
}

.menu-li:hover,
.account-link:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
