.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    z-index: 2;
    position: sticky;
}

.logo {
  margin-left: 8%;
    margin-top: 0.7%;
    width: 326px;
    height: 44px;
    
    background-color: 'red';
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;

}

.logo-link {
  width: 326px;
  height: 44px;
}

.listings-search {
  display: flex;
  align-items: center;
  margin-top: 1%;
  border: 1px solid black;
  padding: .5% 6% .5% 6%;
  border-radius: 30px;
  background-color: white;
}
.link-search-text {
  text-decoration: none;
  font-size: 20px;
  color: rgb(73, 72, 72);
}

.search-icon {
  color: rgb(255, 0, 85);
  padding-left: 4%;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {
  margin-top: 8%;
  margin-right: 150px;
  padding: 0;
  width: 75px;
  height: 42px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
  border-radius: 50px;
  background: white;
  padding-top: 5px;
  border: 1px solid lightgray;
}

.dropdown {
  margin-top: 15%;
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background: white;
  border-radius: 15px;
}

.logout-ul, .login-signup-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-li {
  padding: 8px 12px;
  border-radius: 10px;
}

.menu-li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}



