.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    z-index: 2;
    position: sticky;
}

.logo {
    margin-top: 0.7%;
    width: 326px;
    height: 44px;
    
    background-color: 'red';
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;

}

.logo-link {
  width: 326px;
  height: 44px;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {
  padding: 0;
  width: 75px;
  height: 42px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
  border-radius: 50px;
  background: white;
  padding-top: 5px;
  border: 1px solid lightgray;
}

.dropdown {
  margin-top: 15%;
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background: white;
  border-radius: 15px;
}

.logout-ul, .login-signup-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-li {
  padding: 8px 12px;
  border-radius: 10px;
}

.menu-li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

