.flex-container-listing-show {
  width: 100%;
  display: flex;
  justify-content: center;
}

.listing-show-map-container {
  display: flex;
  justify-content: center;
}

.listing-show-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.listing-title {
  font-size: 30px;
}

.reviews-address-beds-ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.reviews-point,
.address-point,
.guest-amount-point {
  display: flex;
  align-items: center;
  gap: 5px;
}

.home-icon,
.room-icon,
.star-icon {
  color: rgb(255, 0, 98);
}

.host-info-booking-form-flex {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
  
}

.host-info-booking-form-container {
  display: flex;
  
}

.host-info-listing-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 500px;
  max-width: 500px;
  /* border: 1px solid black; */
}

.host-pic-plus-meet-host {
  display: flex;
  gap: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.host-pic {
  width: 80px;
  border-radius: 5px;
}

.meet-host-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.host-info-h3 {
  font-size: 20px;
  color: black;
}

.host-info-created-at {
  color: rgb(56, 56, 56);
}

.listing-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.listing-description {
  width: 200;
  color: rgb(90, 90, 90);
}

.description-h3 {
  font-size: 20px;
  font-weight: 600;
}

.booking-form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 10px;
}

.booking-form-top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.booking-price-container {
  display: flex;
  gap: 4px;
  margin-left: 20px;
}

.booking-price {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.booking-form-reviews-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 3px;
}

.booking-form-reviews {

}

.delete-listing-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: rgb(248, 0, 74);
  color: white;
}

.reviews-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.reviews-h3 {
  font-size: 50px;
}

#listing-map-container {
  width: 100%;
  height: 700px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(104, 104, 104, 0.35);
}

