/* .listing-show-container {
    display: flex;
    text-align: center;
} */

.listing-show {
    text-align: center;
    margin-top: 4%;
}

.listing-title {
    font-size: 30px;
}

.home-icon, .room-icon {
    color: rgb(255, 0, 98);
}
/* 
.address-beds {
    display: flex;
    align-content: center;
} */
