.login-container, .signup-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    min-height: 50vh;
    min-width: 28vw;
}

.create-listing-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    min-height: 50vh;
    min-width: 30vw;
}

.login-form, .signup-form, .listing-form{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.login-button, .signup-button, .create-listing-button {
    height: 4vh;
    align-self: center;
    width: 90%;
    background-color: rgba(214, 30, 76, 0.945);
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-top: 3%;
}

.signup-button, .create-listing-button, .incomplete-form-button {
    margin-bottom: 3%;
    margin-top: 4%;
}

.incomplete-form-button {
    align-self: center;
    text-align: center;
    width: 90%;
    background-color: rgba(214, 30, 76, 0.945);
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-top: 3%;
    opacity: .5;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.incomplete-form {
    opacity: .5;
    cursor: not-allowed;
}

.demo-button {
    height: 4vh;
    align-self: center;
    width: 60%;
    background-color: rgba(214, 30, 76, 0.945);
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-top: 3%;
}

#rounded-email, #rounded-title {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    
}
#rounded-password, #rounded-price {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    
}

.login-input, .signup-input, .listing-input {
    height: 5vh;
    width: 90%;
    align-self: center;
    border: 1px solid rgb(173, 170, 170);
}

.photo-input {
    align-self: center;
    margin-top: 2%;
}


.login-welcome{
    text-align: center;
    font-size: 35px;
    margin-top: 8%;
    margin-bottom: 15%;
}

.create-listing-h3 {
    text-align: center;
    font-size: 28px;
    margin-top: 12%;
    margin-bottom: 10%;
}

.signup-welcome {
    text-align: center;
    font-size: 35px;
    margin-top: 6%;
    margin-bottom: 8%;
}

.close-x {
    margin-top: 4%;
    margin-left: 4%;
    position: absolute;
    cursor: pointer;
}

textarea {
    resize: none;
    // padding-left: 5px;
}

.errors-ul {
    margin-bottom: 8px;
    text-align: center;
    color: red
}

