.splash-container {
  top: -75px;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
}

.bg-img {
  width: 100vw;
}

.explore-container-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.explore-container,
.explore-h3-container {
  width: 83%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.explore-h3-container {
  margin-bottom: 20px;
}

.explore-h3 {
  font-size: 30px;
  font-weight: 700;
}

.explore-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 8px;
  row-gap: 30px;
  justify-items: stretch;
}

.explore-location {
  width: 250px;
  height: 72px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.location-img {
  height: 100%;
  border-radius: 10px;
}

.explore-location-text {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.try-hosting-container-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.try-hosting-container {
  width: 83%;
  position: relative;
  text-align: center;
}

.try-hosting-img-container {
  width: 100%;
  background-color: rgb(75, 75, 75);
  border-radius: 20px;
}

.try-hosting-img {
  width: 100%;
  border-radius: 20px;
  opacity: .8;
}

.try-hosting-text-container {
  position: absolute;
  top: 30%;
  left: 7%;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
}

.try-hosting-h3 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}

.try-hosting-text {
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 300px;
  margin-bottom: 10px;
}
