.splash-container {
    width: 100vw;
    height: 90vh;
    top: -75px;
    z-index: -1;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
}